.pagination {
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    letter-spacing: 0.75px;
    text-align: center;
    user-select: none;

    &__pages {
        display: flex;
        justify-content: center;

        &--numbers, &--others {
            display: block;
            padding: 8px;
            cursor: pointer;
            color: #272F3E;
        }

        &--numbers{
            &:hover {
                color: #CCC;
            }
        }

        &--others {
            cursor: default;
        }
    }

    .enabled {
        color: #FFF; 
        cursor: pointer;
    }

    .selected {
        color: #FFF;
    }
}