html{
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    background-color: rgb(53, 130, 253);
    background-image: radial-gradient(rgb(233, 237, 219) 0%,rgb(53, 130, 253) 48%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 54.33rem 49.67rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        min-height: 0;
        height: 100%;
    }
}

